#qna{
    display: none;
}

.qBox{
    /* background-color: whitesmoke; */
    text-align: center;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 700;
    width: 80%;
}

.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 80%;
    border: 0px;
    font-size: 20px;

}

.answerList:hover, .answerList:focus {
    background-color: #0d6efd;
    color: whitesmoke;
}

.status{
    width: 140px;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.statusBar{
    height: 100%;
    background-color: #0d6efd;
    border-radius: 20px;
}