#result{
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    font-weight: 700;
}

#shareResult{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.resultName{
    font-size: 26px;
}

.resultDesc{
    font-size: 20px;
}

.kakao{
    color: black;
    background-color: #fee500;
    font-size: 22px;
    border: 0px;
    border-radius: 20px;
}

.kakao:hover, .kakao:focus {
    background-color: black;
    color: #fee500;
}

.home{
    color: rgb(8, 8, 8);
    background-color: #7fcef3;
    font-size: 22px;
    border: 0px;
    border-radius: 20px;
}

.home:hover, .home:focus {
    background-color: #070707;
    color: #56a6f1;
}